<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="style.css"> -->

</head>
<body>

    <%- include("header.ejs")%>
    <br><br>
   
    <form name="frm" action="/saveReg" method="post" enctype="multipart/form-data">
    <div class="container bg-dark p-5">

        <div class="form-group">
            <input type="text" class="form-control" name="name" value="" placeholder="Enter Name" />
        </div>
        <br>

        <div class="form-group">
            <input type="email" class="form-control" name="email" value="" placeholder="Enter Email" />
        </div>
        <br>

        <div class="form-group">
            <input type="text" class="form-control" name="contact" value="" placeholder="Enter Contact" />
        </div>
        <br>

        <div class="form-group">
            <input type="text" class="form-control" name="username" value="" placeholder="Enter UserName" />
        </div>
        <br>

         <div class="form-group">
            <input type="text" class="form-control" name="password" value="" placeholder="Enter Password" />
        </div>
        <br>

         <div class="form-group">
            <input type="file" class="form-control" name="profile" value="" placeholder="" />
        </div>
        <br>

        <div class="form-group">
        <select class="form-control" name="role">
        <option value="user">USER</option>
        <option value="admin">ADMIN</option>
        
        </select>
        </div>
        <br>
        
        <!-- <div  class="form-group" >
            <select name="role" id="">
             <option value="user">USER</option>
             <option value="user">ADMIN</option>
            </select> -->
            <!-- <input type="text" class="form-control" name="role" value="" placeholder="Enter Password" /> -->

      

        <div class="form-group">
            <input type="submit" class="btn btn-primary control form-control" name="s" value="Register"/>
        </div>
        <br>

        <!-- <%=msg%> -->

        <%
        if(msg.length!=0)
        {
        %>
        <div class="alert alert-primary" role="alert">
            <%=msg%>
        </div>
        <%
        }
        %>  
       

    </div> 

    </form>
</body>
</html>